.courceKidsContainer{
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 60px;

  .children{
    position: absolute;
  width: 500px;
  right: 220px;
  top: 1250px;
  }
}
.cource{

  display: flex;
  align-items: flex-start;
  padding: 30px 0px;

  span{
    color: orangered;
    
  }
}
.kidCource {
  
  display: flex;
 
  gap: 30px;

.MuiCardContent-root{
    display: flex;
    flex-direction: row;
    justify-content: center;

    button{
        color: white;
        background-color: black;
      

        &:hover{
           margin: 2px 2px;
            -o-transition-delay: 0.5s ;
        }
    }
    .logo{
        padding: 10px;
        img{
          width: 70px;
        }
    }
    .detail{
        display: flex;
        flex-direction: column;
      gap: 5px;
        // padding: 10px;
    }
}
  .top {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .MuiCard-root{
    width: 300px;
    height: 170px;
    border-radius: 15px;
z-index: 2;

    
  }
}
.premium{
  display: flex;
  padding: 50px 20px;
  gap: 10px;
 

  
}