* {
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 0.5px solid rgb(227, 227, 227);
  position: sticky;

  .container {
    display: flex;
    width: 80%;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    .rightnav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .vedantu {
      width: 170px;
      height: 70px;
    }

    .navItemsContainer {
      align-items: center;
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }
    .color {
      text-decoration: none;
      position: relative;
      color: black;
      font-size: 17px;

      a {
        text-decoration: none;
        color: black;
        font-size: 17px;
      }
      a:hover {
        color: orangered;
      }
    }
    .color::after {
      content: "";
      position: absolute;
      background-color: orangered;
      height: 4px;
      width: 0%;
      left: 0px;
      top: -33px;
    }
    .color:hover::after {
      width: 100%;
      transition: 0.3s;
    }
    .navItems {
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 3px;
      img {
        width: 15px;
        height: 15px;
      }
      .rightnav {
        display: flex;
      }
    }
    .features {
      .cource {
        justify-content: center;
        display: flex;
        border: 1px solid orange;
        padding: 8px 20px;
        border-radius: 5px;
        color: orange;
        gap: 5px;
        align-items: center;
        span {
          color: orangered;
        }
        &:hover {
          background-color: rgb(250, 84, 24);
          margin-left: 5px;
          margin-top: 5px;
          span {
            color: white;
          }
        }
        img {
          width: 15px;
          height: 15px;
          padding-top: 3px;
          opacity: 0.5;
        }
      }
      .dropdown {
        display: flex;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 60%;
        height: 600px;
        left: 80px;
        z-index: 1;
        border-radius: 5px;

        background-color: rgb(254, 252, 252);
        border: 0.1px solid rgb(244, 242, 242);
        cursor: pointer;

        &:focus {
          box-shadow: none;
          outline: none;
          background: rgb(174, 167, 167);
        }
        .left {
          width: 35%;
          background-color: rgb(255, 245, 255);
          overflow-y: scroll;

          border: 0.1px solid rgb(244, 242, 242);
          .kidsContainer {
            width: 90%;
            justify-content: center;
            margin: 10px auto;

            .kids {
              padding: 10px;
              display: flex;
              gap: 10px;

              img {
                width: 20px;
              }
            }
          }
          .items {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            background-color: rgb(254, 254, 255);
            border: 0.5px solid rgb(229, 227, 227);
            img {
              width: 20px;
              height: 20px;
            }
            .desc {
              display: flex;
              flex-direction: column;
              font-weight: 100;
              // color: rgb(115, 114, 114);
              size: 10px;
              span {
                color: rgb(123, 123, 123);
                font-size: 15px;
              }
            }
          }
          .itemsKids {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            margin: 10px 0px;
            background-color: rgb(240, 240, 240);

            .desc {
              font-weight: lighter;
              size: 15px;
              span {
                color: rgb(115, 114, 114);
                font-size: 15px;
              }
            }
            img {
              width: 20px;
              height: 20px;
            }
          }
          hr {
            border: 0.5px solid gray;
          }
        }
        .middle {
          border: 0.1px solid rgb(244, 242, 242);

          overflow-y: scroll;
          width: 35%;
          .stdsHead {
            padding: 10px 0px;
            display: flex;

            align-items: center;
            img {
              width: 50px;
              background-color: transparent;
            }
          }
          .stds {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: large;
            font-weight: lighter;
            justify-content: center;
            padding-left: 50px;
            .science {
              display: flex;
              gap: 10px;

              h6 {
                font-weight: lighter;
                color: rgb(115, 114, 114);
                size: 15px;
              }
            }
          }
        }

        .right {
          overflow-y: scroll;
          border: 0.1px solid rgb(244, 242, 242);
          width: 30%;
          .rightdropdown {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
              background-color: rgb(236, 235, 235);
            }
            .logo {
              padding: 10px;
              opacity: 0.5;
            }
            .details {
              position: absolute;
              height: 600px;
              right: -250px;
              top: 0px;
              background-color: lightgray;
              width: 250px;
              cursor: pointer;
            }

            .logo {
              img {
                width: 15px;
                color: rgb(132, 129, 129);
              }
            }
          }
          .items {
            display: flex;
            flex-direction: column;
            padding: 10px;
            .sub {
              color: rgb(132, 129, 129);
              font-size: 15px;
            }
          }
          .trgets {
            display: flex;
            align-items: center;

            img {
              width: 80px;
              background-color: transparent;
            }
          }
        }
      }
    }
    .store {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .helpline {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;

      &:hover {
        background-color: lightgray;
        border-radius: 5px;
      }

      img {
        width: 30px;
        border-radius: 50%;
      }

      .number {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      width: 100px;
      height: 30px;

      &:hover {
        margin-top: 5px;
        transition: margin 0.3s ease;
      }
    }
  }
}
.navItems {
  &:hover {
    margin-top: 10px;
    margin-left: 5px;
  }
  img {
    width: 15px;
  }
  .color:hover {
    color: orangered;
  }
  .kidContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 0.5px solid rgb(226, 226, 226);
    transition: 0.3s ease-in-out;
    top: 50px;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    cursor: pointer;
    transition: 0.2s all ease-in;
    .kidItem {
      display: flex;
      gap: 20px;
      align-items: center;
      gap: 10px;
      .text {
        display: flex;
        flex-direction: column;

        .standard {
          color: orangered;
          font-weight: 300;
        }
        .sub {
          color: rgb(167, 167, 167);
          font-size: 13px;
        }
      }
    }
  }
}
.navItems {
  .material {
    position: absolute;
    display: flex;
    top: 50px;
    border: 0.2px solid rgb(227, 227, 227);
    // padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    background-color: white;
    .items {
      display: flex;
      flex-direction: column;
      width: 300px;
      font-weight: 400;

      .languages {
        display: flex;
        border: 0.3px solid rgb(238, 237, 237);
        padding: 15px;
        align-items: center;
        justify-content: space-between;

        img {
          opacity: 0.5;
        }
        &:hover {
          background-color: rgb(238, 238, 238);
        }
        .classes {
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: rgb(254, 252, 252);
          border: 0.1px solid rgb(244, 242, 242);

          right: -302px;
          top: 0px;
          width: 300px;
          border: 0.3px solid rgb(215, 215, 215);
          border-radius: 5px;
          .elements {
            display: flex;
            justify-content: space-between;
            border: 0.5px solid rgb(219, 219, 219);
            padding: 15px;
            &:hover {
              background-color: rgb(214, 214, 214);
              cursor: pointer;
            }
            .last {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 0px;
              right: -280px;
              background-color: rgb(254, 252, 252);
              border: 0.1px solid rgb(244, 242, 242);
              border-radius: 5px;

              span {
                padding: 15px;
                border: 0.5px solid rgb(214, 214, 214);
              }
            }
          }
        }

        img {
          height: 15px;
          width: 15px;
          color: gray;
        }
      }
    }
  }
}

.navItems {
  .moreContainer {
    width: 600px;
    position: absolute;
    top: 50px;
    right: 300px;
    display: flex;
    background-color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 550px;
    border: 0.5px solid rgb(218, 218, 218);
    border-radius: 5px;
    cursor: pointer;
    .left {
      width: 50%;
      border: 0.5px solid rgb(218, 218, 218);

      overflow-y: scroll;
      .results {
        display: flex;
        gap: 10px;
        border: 0.2px solid rgb(218, 218, 218);
        padding: 10px;
        align-items: center;
      }
      .initiatives {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .exams {
        padding-left: 50px;
        padding-top: 10px;
        text-wrap: wrap;
      }

      span {
        font-size: 15px;
        color: rgb(150, 150, 150);
      }
      .img {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.navItems {
  .moreContainer {
    .right {
      width: 50%;
      overflow-y: scroll;
      .top {
        border: 0.5px solid rgb(228, 226, 226);
      }
      .resources {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 40px;

        img {
          width: 30px;
          height: 30px;
          background-color: transparent;
        }
      }
      .about {
        display: flex;
        flex-direction: column;
        padding-left: 80px;

        span {
          padding: 10px;
        }
      }
      .related {
        display: flex;
        align-items: center;
        padding: 15px;
        gap: 10px;
        border: 0.5px solid rgb(228, 226, 226);

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
// @media (max-width: 1302px) {
//   .navItemsContainer{
//     position: absolute;
//     left: 0px;
//     flex-direction: column;
//     top: 100px;
//     width: 400px;
//     height: 400px;
//     background-color: white;
//     border: 0.5px solid lightgray;
//     padding: 10px 20px;

//     .navItems{
//       justify-content: space-between;
//       width: 100%;
//     }
//   }
// }
