.features {
  background-color: rgb(48, 86, 68);
  height: 600px;
  display: flex;
  justify-content: center;
  color: white;
}
.container {
  width: 1400px;
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 50px;
  font-weight: lighter;
}
.decorate{
    font-size: 50px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 600px;
  height: 40px;
}
.icon {
  color: black;
width: 20px;
height: 20px;
  padding: 10px;
}
.searchInput {
  border: none;
  display: flex;
  align-items: center;

}
.searchbtn {
  height: 40px;
  width: 80px;
  background-color: rgb(109, 242, 109);
  border: none;
  color: aliceblue;
}
.popular{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn{
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.profile {
    width: 380px;
    height: 800px;
    object-fit: contain;
}
