.trustedby {
  background-color: rgb(222, 222, 222);

  justify-content: center;
  display: flex;
  color: rgb(158, 154, 154);
  padding: 30px;
}
.spans {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  gap: 10px;
  padding-left: 10px;
}
