.cardContainer{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  height: 220px;
  border-radius: 15px;
  background-color: rgb(255, 254, 254);
  gap: 4px;
  border: 1px solid rgb(222, 220, 220);
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
  top: 360px;
}
.cards{
    display: flex;
    gap: 20px;
    padding: 0px 20px;

}
.MuiCard-root{
    width: 155px;
    height: 100px;
padding: 10px 0px;

.MuiCardContent-root{
    display: flex;
    flex-direction: column;
  padding: 5px;
}


  img{
    width: 50px;
  
  }
}

.row{
    display: flex;
    justify-content: space-between;
img{
    width: 13px;
    opacity: 0.1;
}
}
.scroll{
    display: flex;
    justify-content: space-between;
    width: 97%;
    height: 15px;
   background-color: rgb(232, 234, 234);
   margin-left: auto;
   margin-right: auto;
    img{
        width: 13px;
       opacity: 0.4;
    }
}
.cardTitle{
    margin: 10px 20px;
  background-color: rgb(235, 232, 69);

  width: 150px;
  height: 30px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.2px;
}